{% include header.html %}

<!-- row -->

<div class="row">
	<section class="eight columns">
		<section class="hero">

			<div class="hero-video">


				</div>

			</div>

			<h1>A gathering of the world's top systems management professionals.</h1>

		</section>

		<section class="intro">

			<p>This year's Kaseya Connect is dedicated to helping you get the most out of Kaseya by sharing new ideas and interacting with peers and experts from around the world.</p>

		</section>

		<section>

			<div class="row">
				<div class="eight columns">

					<p>Over 700 of our brilliant power-users will be here, joined by proven experts in the Kaseya product and key business topics affecting your IT service business.</p>

					<p>Don't miss this unique chance to learn from them, exchange ideas and make relationships that can have a real impact on your business.</p>

					<p>*We will also be offering <a href="/registration/#register-training">pre-conference training courses</a> on Saturday &amp; Sunday, April 27th &amp; 28th with the option of either Kaseya Fundamentals or Service Desk Workshops.</p>

				</div>

				<div class="four columns">

					<div class="featured-speaker">

						<h3>Featured Speaker</h3>
						<a href="/speakers/"><span class="image-wrap"><img src="/img/speakers/srl-lrg.jpg" alt="Sugar Ray Leonard"></span></a>
						<p><a href="/speakers/">Sugar Ray Leonard</a></p>

					</div>

				</div>
			</div>

		</section>

		<section class="show-highlights">
			<h2>Show Highlights</h2>
			<div class="row">
				<div class="six columns">
					<img src="/img/icon-roi.png" alt="" class="icon">
					<h3>Best Practices</h3>
					<p>Sharpen your skills with first-hand knowledge presented by top Kaseya customers and partners.</p>
				</div>
				<div class="six columns">
					<img src="/img/icon-education.png" alt="" class="icon">
					<h3>Education Sessions</h3>
					<p>Hear from Kaseya product gurus, learn best practices and discover tips to improve your IT service delivery.</p>
				</div>
			</div>
			<div class="row">
				<div class="six columns">
					<img src="/img/icon-hand.png" alt="" class="icon">
					<h3>Hands-on Demos</h3>
					<p>Use all the features of Kaseya and provide feedback on the latest and greatest Kaseya products.</p>
				</div>
				<div class="six columns">
					<img src="/img/icon-lab.png" alt="" class="icon">
					<h3>Industry Expert Labs</h3>
					<p>Engage directly with key industry experts on ways to improve your IT business and service delivery.</p>
				</div>
			</div>

			<hr>

		</section>

<!--				<section class="speakers clearfix">
			<h2>Featured Speakers</h2>
			<ul>
				<li>
					<a href="/speakers/#dan-r" title="View bio"><span class="image-wrap"><img src="/img/speakers/dr.jpg"></span></a>
					<h3><a href="/speakers/#dan-r" title="View bio">Dan Russell</a></h3>
					<p>Director of Marketing - Intel</p>
				</li>
				<li>
					<a href="/speakers/#terri-s" title="View bio"><span class="image-wrap"><img src="/img/speakers/ts.jpg"></span></a>
					<h3><a href="/speakers/#terri-s" title="View bio">Terri Sjodin</a></h3>
					<p>Principal &amp; Founder - Sjodin Communications</p>
				</li>
				<li>
					<a href="/speakers/#jacob-b" title="View bio"><span class="image-wrap"><img src="/img/speakers/jb.jpg"></span></a>
					<h3><a href="/speakers/#jacob-b" title="View bio">Jacob K. Braun</a></h3>
					<p>COO - Waka Digital</p>
				</li>
				<li>
					<a href="/speakers/#terry-h" title="View bio"><span class="image-wrap"><img src="/img/speakers/th.jpg"></span></a>
					<h3><a href="/speakers/#terry-h" title="View bio">Terry Hedden</a></h3>
					<p>CEO - Infinity Business Systems</p>
				</li>
			</ul>
		</section>-->



		<section class="roi panel">

			<div class="row">

				<div class="six columns">
					<h3>Convince Your Boss</h3>
					<p>Kaseya Connect is unquestionably the best way to get the most from your investment in Kaseya. Four full days of sessions, labs and networking make it the one event most successful Kaseya customers won't miss.</p>
					<a href="http://www.kaseya.com/download/en-us/kaseyaconnect/2013/kaseyaconnect13roi.doc" class="btn"><i class="icon-file"></i> Download PDF</a>

				</div>

				<div class="six columns">
					<div class="video-callout">
						<p><a href="http://www.youtube.com/watch?v=e_tNDX-bWOQ"><span class="image-wrap"><img src="/img/video-thumb.jpg" alt="Video thumbnail"></span></a></p>
					</div>

				</div>

			</div>

		</section>

	</section>

	<aside class="four columns">

		<div class="panel">

			<div class="module" id="packages">
				<h3>Packages and Options</h3>
				<table>
					<thead>
						<tr>
							<th>Package</th>
							<th>Price</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td><a href="/registration/">Early Bird Package</a></td>
							<td><span class="green radius label">$695</span></td>
						</tr>
						<tr>
							<td><a href="/registration/">Standard Registration</a></td>
							<td><span class="green radius label">$895</span></td>
						</tr>
						<tr>
							<td><a href="/registration/">Golf Tournament</a></td>
							<td><span class="green radius label">$175</span></td>
						</tr>
						<tr>
							<td><a href="/registration/">Four Seasons Accommodations</a></td>
							<td><span class="green radius label">$600</span></td>
						</tr>
						<tr>
							<td><a href="/registration/">Mandalay Bay Accommodations</a></td>
							<td><span class="green radius label">$567</span></td>
						</tr>
					</tbody>
				</table>
				<p><a href="/registration/">View more information</a> on packages and options.</p>
				<a target="_blank" href="https://www.regonline.com/kaseyaconnect2013" class="btn disabled"><i class="icon-ok"></i> Reserve Your Spot</a>
			</div>

			<div class="module">
				<h3>Questions or Concerns?</h3>
				<p>For questions, please email us at <a href="mailto:vivalasvegas@kaseya.com">vivalasvegas@kaseya.com</a> or contact the event coordinator, <strong>Amy Riordan</strong> at <a href="tel:1-415-694-5700" class="tel">(415) 694-5700 x1332</a>.</p>
			</div>

			<div class="module sponsors">
				<h3>Sponsors</h3>

				<h4>Platinum</h4>
				<ul>
					<li><a href="/sponsors/">
				<img alt="independenceIT" src="/img/sponsors/independenceit.png"></a></li>
				</ul>

				<h4>Gold</h4>
				<ul>
					<li><a href="/sponsors/"><img alt="Autotask" src="/img/sponsors/autotask.png"></a></li>
				</ul>

				<h4>Silver</h4>
				<ul>
					<li><a href="/sponsors/"><img src="/img/sponsors/connectwise.png" alt="ConnectWise"></a></li>
					<li><a href="/sponsors/"><img src="/img/sponsors/connectsmart.png" alt="ConnectSMART"></a></li>
                    <li><a href="/sponsors/"><img src="/img/sponsors/devio.png" alt="devIO"></a></li>
                    <li><a href="/sponsors/"><img src="/img/sponsors/spamsoap.png" alt="SpamSoap"></a></li>
					<li><a href="/sponsors/"><img src="/img/sponsors/storagecraft.png" alt="StorageCraft"></a></li>
                    <li><a href="/sponsors/"><img src="/img/sponsors/symantec.png" alt="Symantec"></a></li>
                    <li><a href="/sponsors/"><img src="/img/sponsors/xerox.png" alt="Xerox"></a></li>
                    </ul>
				<h4>Bronze</h4>
				<ul>
					<li><a href="/sponsors/"><img src="/img/sponsors/abs.png" alt="ABS"></a></li>
					<li><a href="/sponsors/"><img src="/img/sponsors/anchor.png" alt="Anchor"></a></li>
					<li><a href="/sponsors/"><img src="/img/sponsors/axcient.png" alt="Axcient"></a></li>
                    <li><a href="/sponsors/"><img alt="CodeBlue" src="/img/sponsors/codeblue.png"></a></li>
                    <li><a href="/sponsors/"><img alt="Eaton" src="/img/sponsors/eaton.png"></a></li>
                    <li><a href="/sponsors/"><img alt="ExchangeDefender" src="/img/sponsors/exchangedefender.png"></a></li>
                    <li><a href="/sponsors/"><img alt="HEROware" src="/img/sponsors/heroware.png"></a></li>
                    <li><a href="/sponsors/"><img alt="intel" src="/img/sponsors/intel.png"></a></li>
                    <li><a href="/sponsors/"><img alt="intronis" src="/img/sponsors/intronis.png"></a></li>
                    <li><a href="/sponsors/"><img alt="iscan" src="/img/sponsors/iscan.png"></a></li>
                    <li><a href="/sponsors/"><img alt="Ice Stack" src="/img/sponsors/icestack.png"></a></li>
					<li><a href="/sponsors/"><img src="/img/sponsors/kaspersky.png" alt="Kaspersky"></a></li>
					<li><a href="/sponsors/"><img src="/img/sponsors/mandell.png" alt="Mandell Group"></a></li>
                    <li><a href="/sponsors/"><img alt="RapdiFire" src="/img/sponsors/rapidfire.png"></a></li>
                    <li><a href="/sponsors/"><img alt="Scorpion Software" src="/img/sponsors/scorpion.png"></a></li>
                    <li><a href="/sponsors/"><img alt="Trend Micro" src="/img/sponsors/trendmicro.png"></a></li>
					<li><a href="/sponsors/"><img alt="OpenDNS" src="/img/sponsors/opendns.png"></a></li>
                    <li><a href="/sponsors/"><img alt="Zenith" src="/img/sponsors/zenith.png"></a></li>
				</ul>

				<h4>Industry Expert</h4>
				<ul>
                 <li><a href="/sponsors/"><img alt="AntFarm, Inc." src="/img/sponsors/antfarm.png"></a></li>
                 <li><a href="/sponsors/"><img alt="Transmentum" src="/img/sponsors/transmentum.png"></a></li>
                 <li><a href="/sponsors/"><img alt="SPC International" src="/img/sponsors/spc.png"></a></li>
                 <li><a href="/sponsors/"><img alt="Technology Marketing Toolkit Company" src="/img/sponsors/techmark.png"></a></li>
                 <li><a href="/sponsors/"><img alt="Taylor Business Group" src="/img/sponsors/tbg.png"></a></li>
                 <li><a href="/sponsors/"><img alt="Presstacular" src="/img/sponsors/presstacular.png"></a></li>
                </ul>
			</div>


		</div>
	</aside>

</div>


{% include footer.html %}