<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Kaseya IT Systems Management User Conference | Kaseya Connect</title>
	<meta name="description" content="A gathering of the world's top IT systems management professionals.">
	<link rel="canonical" href="http://www.kaseyaconnect.com" />
	<meta property="og:title" content="Kaseya Connect" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.kaseyaconnect.com" />
	<meta property="og:description" content="A gathering of the world's top IT systems management professionals." />
	<meta property="og:image" content="http://www.kaseyaconnect.com/img/og-logo.jpg"/>

	<!-- Included CSS Files -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/site.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/css/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<div class="container">

		<div class="row">

			<header>
				<div class="eight columns">
					<a href="/"><img src="/img/kaseya-connect-logo.png" alt="Kaseya Connect Logo"></a>
					<nav class="global">
						<ul class="btn-bar">
							<li><a href="/agenda/">Agenda</a></li>
							<li><a href="/live/">Watch Replay</a></li>
							<li><a href="/social/">Social</a></li>
						</ul>
					</nav>
				</div>
				<div class="four columns">
					<ul class="social-icons">
						<li><a href="http://www.facebook.com/KaseyaFan" title="Connect with Facebook"><img src="/img/icon-facebook.png"></a></li>
						<li><a href="http://www.twitter.com/kaseyacorp" title="Connect with Twitter"><img src="/img/icon-twitter.png"></a></li>
						<li><a href="http://www.youtube.com/kaseyacorp" title="Connect with YouTube"><img src="/img/icon-youtube.png"></a></li>
						<li><a href="http://www.linkedin.com/company/kaseya" title="Connect with LinkedIn"><img src="/img/icon-linkedin.png"></a></li>
						<li><a href="http://gplus.to/kaseya" title="Connect with Google+"><img src="/img/icon-google.png"></a></li>
					</ul>
				</div>
			</header>

		</div>